body {
  background-color: #f8f8f8;
    margin:15px 15px 15px 15px;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    margin-top: 51px;
  }
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
  cursor: none !important;
  background-color: green;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none !important;
}
.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}